<form action="{{delete.action}}" method="{{method}}">
  <input type="text" hidden name="_method" value={{restMethod}}>
  <button class="btn btn-outline-primary" type="submit">{{btnText}}</button>
  </form>