
<div id="create-anime">
  <h2>Add Anime</h2>
  <form action="/create" method="POST">
    <label for="input-username">Title</label>
    <input type="text" id="title" name="title" placeholder="Title"/>
        <label for="input-username">Category</label>
    <input type="text" id="title" name="title" placeholder="Category"/>
        <label for="input-username">Rate</label>
    <input type="text" id="title" name="title" placeholder="Rate"/>
        <label for="input-username">Description</label>
    <input type="text" id="title" name="title" placeholder="Description"/>
 
    <!-- falta 1 imput para que el usuario pueda cargar una imagen -->

    <button type="submit">Create anime</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>