.navbar {
  background-color: #bfbfbf;
  box-shadow: 2px 2px 4px 3px #dedede;
}

.viewtittle {
  text-align: center;
  color: darkslateblue;
  font-family: 'FontAwesome';
  font-size: 97%;
  margin-top: 4%;
}

.backgroundColor {
background-color: #f1f1f1;
}

.card-body {
  box-shadow: 2px 2px 5px 2px grey;
}

.img-fluid {
  box-shadow: 3px 3px 6px 0px grey;
}

 /* anime list */
 
 .view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail
{
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption
{
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item:after
{
  clear: both;
}

/* anime list */

.vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* anime list */

.img-responsive {
  max-width: 100%;
}


.home{
  background-image: url('../images/263296.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.m-auto {
  opacity: 0.9;
}